.page-header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 1rem;
  padding-bottom: 0px;
}
.nav-items {
  margin: 1rem;
}
@media only screen and (max-width: 600px) {
  .nav-items {
    margin: 0.3rem;
 }

 .nav-bar {
   width: 100%;
 }

 .nav-bar .navbar-brand {
   margin: 0 auto;
 }
}
