#workshop {
  padding-top: 0rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 100%;
  background-color: white;
}
#shop-img {
  display: flex;
}
#shop-desc {
  padding: 1rem;
}
#shop-desc h2 {
  text-align: center;
  margin-bottom: 3rem;
}
#shop-desc div {
 text-align: start;
 padding-left: 5rem;
}
#shop-desc h5 {
  text-align: center;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 900px) {
  #shop-desc div {
    padding-left: 1rem;
  }
  #workshop {
    margin: 0rem;
    padding: 0rem;
  }
}
