.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.year-block {
  height: 1.5rem;
  background-color: #1a4e6e;
  border: 2px solid white;
border-radius: .35rem;
}

.month-block {

  height: 1.5rem;
  background-color: #2b7aa8;
  border: 2px solid white;
  border-radius: .35rem;
}

.block-active {
  height: 1.5rem;
  background-color: #52b6ff;
  border: 2px solid white;
  border-radius: .35rem;
}

.timelineText {
  font-size: .8em;
  color: #565656;
}

.table-center {
  margin: 0 auto;
}

.play {
  font-size: 25px;
  padding-top: 5px;

}

.open {
  font-size: 13px;
}

.parameter {
  background: #25a6eb;
  color: white;
  padding: 5px;
  margin-top: 5px;
}

.rank {
  background: #25a6eb;
  color: white;
  border: 2px solid white;
}
