.map-content {
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  justify-content: center;
  padding-bottom: 10px;
  max-height: 80vh;
}

.options {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 30.5%;
}

.map {
  min-width: 58%;
  max-width: 69.5%;
  margin-left: .5%;
}

.county-list .remove-county:hover,
.county-list .county-selector:hover {
  cursor: pointer;
}

.county-list {
  word-break: break-all;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 0;
  background-color: white;
}

.county-list .remove-county {
  text-align: center;
}

.loader {
  width: 100vw;
  top: 50vh;
  position: absolute;
}

.info {
  height: 50%;
  overflow-y: auto;
}

.info::-webkit-scrollbar {
  display: none;
}
