.map-content {
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  justify-content: center;
  padding-bottom: 10px;
  height: 80vh;
}

.options {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 30.5%;
}

.map {
  min-width: 58%;
  max-width: 69.5%;
  margin-left: .5%;
  margin-top: 10px;
  position: relative;
}

.map .zoom-btn-grp {
  position: absolute;
  top: 0;
  right: 0;
}

.map .legend {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 8px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  align-items: center;
  justify-items: center;
}

.map .legend svg {
  grid-column: 2;
}

.map .legend svg#minimize_legend:hover {
  cursor: pointer;
}

.map .legend p {
  margin-bottom: 0;
}

.county-list .remove-county:hover,
.county-list .county-selector:hover {
  cursor: pointer;
}

.county-list {
  word-break: break-all;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 0;
  background-color: white;
}

.county-list .remove-county {
  text-align: center;
}

.loader {
  width: 100%;
  height:80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-panel {
  height: 100%;
}

.info {
  max-height: 50%;
  overflow-y: auto;
  margin: 10px;
}

.info::-webkit-scrollbar {
  display: none;
}
