 a {
  color: #212529;
  text-decoration: none;
}
#open-data {
  background: white;
  display: flex;
  flex-flow: row nowrap;
  min-height: 50vh;
  min-width: 90vw;
  height: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}
.live-titles {
  max-width: 50%;
  margin-left: 1rem;
}
.feat {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feat-data {
  max-height: 50vh;
  width: 25vw;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
#feat-one {
  max-height: 40vh;
  width: 25vw;
  margin-top: 1rem;
}
#feat-two {
  max-height: 50vh;
  width: 25vw;
  margin-top: 5rem;
}
.reverse-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.center-all {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#why-wb {
  height: 100%;
  padding:3rem;
  background-color: #198cff;

}
#why-wb .center-all p {
  font-size: 18px;
  color: white;
  width: 800;
}

.bg-white img {
  max-height: 350px;
}

.bg-white article {
  padding: 2rem 3rem;
}

@media only screen and (max-width: 600px) {
  .bg-white img {
    max-width: 100%;
  }

  .bg-white article {
    padding: 1rem;
  }

  .bg-white article .row {
    flex-direction: column;
  }

  #open-data {
    flex-flow: row wrap;
    margin: 0rem;
    padding: 0.5rem
  }
  .live-titles {
    max-width: 95%;
  }
  .feat {
    width: 90%;
    flex-flow: row wrap;
  }
  #feat-one {
    max-height: 40vh;
    width: 90vw;
    margin: 0.5rem;
  }
  #feat-two {
    max-height: 40vh;
    width: 90vw;
    margin: 0.5rem;
  }
  .reverse-flex {
    flex-direction: column;
  }
  #why-wb {
    margin: 0rem;
    padding: 0.5rem;
    text-align: center;
  }

  #why-wb .center-all p {
    width: 90%;
  }

  .bg-white h2 {
    size: 1.5rem;
  }

  .bg-white h3 {
    size: 1.25rem;
  }
}
.background-off-white {
  background-color: #f8f9fa;
}
